.rows {
    grid-column: span 1;
    display: grid;
    grid: 1fr / 1fr 5fr;
    align-items: center;
    // padding: 0.8rem;
    height: 3rem;
    cursor: pointer;
    border-bottom: 1px solid whitesmoke;
    .icons {
        grid-column: span 1;
        display: grid;
        grid: auto/ 1fr 1fr 1fr;
        align-items: center;
        width: 50%;
        color: grey;
    }
    .message {
        grid-column: span 1;
        display: grid;
        grid: auto/ 1fr 4fr;
        align-items: center;
        h4 {
            width: 25rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &:hover {
        border-top: 1px solid whitesmoke;
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
    }
}
